.header {
  --tr-jolly-enter: cubic-bezier(0.5, 0, 0.5, 1);
  // --fg: 
  // position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-header);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // background-color: var(--bg-app);
  transition: all 0.4s var(--tr-jolly-enter);
  border-bottom: 0.1rem solid transparent;
}

body:not(._lock) .header--hidden {
  transform: translateY(-100%);
}

.header--sticky {
  border-bottom: 0.1rem solid var(--c-border);
}

.header__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: $w-burger) {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: inherit;
  }

  @media (max-width: $mobile-lg) {
    padding-right: 0.5rem;
  }
}

.header__logo {
  margin-right: 8rem;

  @media (max-width: $laptop-md) {
    margin-right: 3rem;
  }

/*
  @media (max-width: $w-burger) {
    margin-right: auto;
  }
  */
}

.header__menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s var(--tr-jolly-enter);

  @media (max-width: $mobile-xlg) {
    margin-left: #{'calc(0px - var(--p-container))'};
    margin-right: #{'calc(0px - var(--p-container))'};
    overflow: hidden;
    width: #{'calc(100% + 1 * var(--p-container))'};
    --mask: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 0.9rem,rgba(0,0,0,1) 1.8rem,rgba(0,0,0,1) calc(100% - 1.8rem),rgba(0,0,0,.25) calc(100% - 0.9rem),rgba(0,0,0,0));
    -webkit-mask-image: var(--mask);
    mask: var(--mask);
  }
  /*
  @media (max-width: $w-burger) {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 	6rem 2rem 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--bg-app);
    z-index: -1;
    transform: translateY(-200%);
    overflow: auto;
    padding-top: 9.5rem;
    padding-left: var(--p-container);
    padding-right: var(--p-container);
  }
  */
}

.header--opened .header__menu {
  transform: translateY(0);
}

.header__nav {
  // margin-right: auto;

  // @media (max-width: $tablet-xlg) {
  //   margin-bottom: auto;
  // }

  // @media (max-width: $w-burger) {
  //   margin-right: unset;
  //   margin-bottom: 1.7rem;
  // }
  width: 100%;

  @media (max-width: $mobile-xlg) {
    padding-left: var(--p-container);
    padding-right: var(--p-container);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: -2rem;
  }
}

.header__nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.6rem;
  line-height: initial;

  /*
  @media (max-width: $w-burger) {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.8rem;
  }
  */
  @media (max-width: $mobile-xlg) {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 6.5rem;
    width: auto;
  }
}

.header__nav-item {
  position: relative;
  transition: var(--tr-regular);
  color: #005EAA;
  font-family: var(--ff-title);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

body:not(.page-home) .header__nav-item {
  color: var(--fg, #005EAA);
}

.header__nav-item:last-child {
  @media (max-width: $mobile-xlg) {
    position: absolute;
    top: 1rem;
    right: #{'calc(2 * var(--p-container))'};
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 11rem;

  @media (max-width: $laptop-lg) {
    margin-right: 3rem;
  }

  @media (max-width: $laptop-md) {
    margin-right: 3.4rem;
  }

  @media (max-width: $mobile-xlg) {
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

/*
  @media (max-width: $w-burger) {
    margin-right: unset;
    margin-bottom: 1.4rem;
  }
*/
}

.header__nav-item:nth-last-child(2) {
  margin-left: auto;
  margin-right: 4rem;

  @media (max-width: $mobile-xlg) {
    margin-left: initial;
    padding-right: 2rem;
  }
}

.header__nav-link {
  margin-right: -1rem;
  display: block;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: inherit;
  transition: all 0.3s ease;

  @media (max-width: $laptop-md) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

/*
  @media (max-width: $w-burger) {
    padding: 0;
    display: inline-block;
  }
  */
}

.header__nav-link:hover {
  @media (any-hover:hover) {
    color: var(--fg-active);
  }
}

