/*
	.runway>.runway__shaft>.runway__lift
*/
.runway {
	// --mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 0.5rem, rgb(0, 0, 0) 1.8rem, rgb(0, 0, 0) calc(100% + 0.2rem), rgba(0, 0, 0, 0.25) calc(100% - 0.9rem), rgba(0, 0, 0, 0));
	--mask: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 0.9rem,rgba(0,0,0,1) 1.8rem,rgba(0,0,0,1) calc(100% - 1.8rem),rgba(0,0,0,.25) calc(100% - 0.9rem),rgba(0,0,0,0));
	// margin-bottom: 0rem;


	@media (max-width: $laptop-md) {
		margin-bottom: 3.3rem;
		// margin-left: #{'calc(0px - var(--p-container))'};
	  overflow: hidden;
	  max-width: 100%;
	}
	@media (max-width: $mobile-xlg) {
		// margin-right: #{'calc(0px - var(--p-container))'};
	}
}

.showcase__runway {
	@media (max-width: $laptop-md) {
		margin-bottom: 0;
	}
}

.runway__shaft {
  @media (max-width: $tablet-xlg) {
	  -webkit-mask-image: var(--mask);
	  mask: var(--mask);
	}
}

.runway__lift {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: $laptop-md) {
	  overflow-x: auto;
		justify-content: flex-start;
		margin-bottom: -2rem;
	// padding-left: var(--p-container);
	}
}

.categories-showcase__gallery.runway {
	@media (min-width: $tablet-xlg + 1) {
		overflow: visible;
	}
}
.categories-showcase__gallery .runway__lift {
	@media (min-width: $tablet-xlg + 1) {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(37rem, 1fr));
		gap: 3rem;
		align-items: stretch;
		overflow: visible;
	}
}

.showcase .runway__lift {
	@media (max-width: $laptop-md) {
		padding-left: var(--p-container);
		padding-right: var(--p-container);
	}
}

.product__related .runway__lift {
	justify-content: flex-end;

	@media (max-width: $mobile-xlg) {
		justify-content: flex-start;
	}
}

.about .product__related .runway__lift {
	justify-content: flex-start;
}

.runway__lift::after {
	@media (max-width: $tablet-xlg) {
		content: "";
		display: block;
		min-width: #{'calc(var(--p-container) / 2)'};
		max-width: #{'calc(var(--p-container) / 2)'};
		height: 1rem;
	}
}

.categories-showcase__gallery .runway__lift::after {
	@media (min-width: $tablet-xlg + 1) {
		display: none;
	}
}

.runway__lift > * {
  margin-bottom: 2rem;
  @media (max-width: $tablet-xlg) {
		margin-right: 1.6rem;
	}
}

.runway__button {
	flex-basis: 100%;
	margin-right: 2.1rem;
	white-space: nowrap;
	font-size: 1.6rem;

	@media (max-width: $laptop-md) {
		flex-basis: initial;
		margin-right: 1rem;
	}

	@media (max-width: $tablet-xlg) {
		margin-bottom: 2rem;
		font-size: 1.4rem;
	}
}

.button-stroke.runway__button.active:hover {
	@media (any-hover:hover) {
		background-color: var(--button-bg);
		color: var(--button-color);
	}
}

.runway__button:last-child {
	margin-right: 0;
}

.runway__button.active {
  --button-bg: var(--c-primary);
  --button-color: var(--fg-on);
  --button-border-color: var(--c-primary);
  font-weight: 700;
}
