/*
  Секции
 */
.section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  @media (max-width: $desktop-md) {
    padding-top: 6rem; //120
    padding-bottom: 6rem; //120
  }

  @media (max-width: $mobile-xlg) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.section__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.7rem;

  @media (max-width: $mobile-xlg) {
    margin-bottom: 2rem;
  }
}

.section-title {
  font-family: var(--ff-title);
  font-size: 5rem;
  font-weight: 500;
  line-height: 108.54%;
  margin-bottom: 3.5rem;
  text-align: center;
  color: var(--fg-second);

  @media (max-width: $mobile-lg) {
    font-size: 2.5rem;
    margin-bottom: 2.1rem;
  }
}

.section__head .section-title {
  margin-bottom: 0;
  font-size: 4rem;
  text-align: left;
  color: #5B5B5B;

  @media (max-width: $mobile-xlg) {
    font-size: 1.8rem;
  }
}

.section-title br {
  @media (max-width: $mobile-lg) {
    display: none;
  }
}

.page-title {
  @media (min-width: $mobile-lg + 1) {
    margin-bottom: 5.3rem;
  }
}


.section-subtitle {
  color: #444;
  text-align: center;
  font-size: 3.5rem;
  font-family: var(--ff-title);
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 1rem;
}

.section-desc {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  line-height: 130.4%;
  text-align: center;
  margin-bottom: 4.8rem;
  
  @media (max-width: $tablet-xlg) {
    font-size: 2.4rem;
  }

  @media (max-width: $mobile-xlg) {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.section-title + .section-desc {
  margin-top: -0.9rem;

  @media (max-width: $mobile-xlg) {
    margin-top: -1.3rem;
  }
}

.help-cta .section-desc {
  @media (min-width: $mobile-xlg + 1) {
    margin-bottom: 3rem;
  }
}

.section-text--success {
  color: var(--c-success);
}
.section-text--color {
  color: var(--c-accent);
}
.section-text--em {
  font-style: italic;
}
.section-text--bold {
  font-weight: 600;
}

.section-text--center {
  text-align: center;
}
.section-text--right {
  text-align: right;
}


.section__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.section__buttons-lr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @media (max-width: $tablet-lg) {
    grid-template-columns: 100%;
    justify-content: center;
  }
}
