.hero {
	position: relative;
	padding-top: 21rem;
	min-height: 101.6rem;

	@media (max-width: $laptop-md) {
		min-height: 73.4rem;
	}
	
	@media (max-width: $tablet) {
		padding-top: 16.5rem;
		min-height: 63.4rem;
	}
}

.hero--archive-reviews {
	@media (min-width: $tablet + 1) {
		padding-top: 36.5rem;
	}

	@media (max-width: $tablet) {
		padding-top: 8.5rem;
	    padding-bottom: 4rem;
	    min-height: 32rem;
	}
}

.hero__container {
	position: relative;
	z-index: 2;
}

.hero__bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	pointer-events: none;
}

.hero__bg--dimmed::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);

	@media (max-width: $tablet) {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
	}
}


.hero__title {
	@media (max-width: $tablet) {
		margin-bottom: 2rem;
	}
}
.hero:not(.hero--portfolio):not(.hero--archive-reviews) .hero__title br {
	@media (max-width: $tablet) {
		display: none;
	}
}

.hero--portfolio .hero__title {
	@media (max-width: $tablet) {
		letter-spacing: 0.05rem;
	}
}

.hero__offer {
	position: relative;
	z-index: 2;
}
.hero--portfolio .hero__offer {
	max-width: 60rem;
}

.hero__caption {
	margin-bottom: 5.4rem;
	margin-top: -3rem;
	font-size: 2rem;
	font-weight: 300;

	@media (max-width: $tablet) {
		font-size: 1.6rem;
		margin-top: 0;
		max-width: 24rem;
		line-height: 1.4;
		margin-bottom: 3.4rem;
	}

	@media (max-width: $mobile) {
		font-size: 1.2rem;
	}
}
.hero__caption br {
	@media (max-width: $mobile) {
		display: none;
	}
}

.hero__summary {
	font-size: 1rem;
	font-weight: 300;
	line-height: 140%;
	--ls-regular: -0.08rem;
	margin-bottom: 7.4rem;

	@media (max-width: $tablet) {
		max-width: 24rem;
		--ls-regular: -0.048rem;		
		margin-bottom: 1.4rem;
	}
}
