.narrative-cta {

}

.narrative-cta__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3rem;
}
.narrative-cta--small-media .narrative-cta__container {
	grid-template-columns: 2fr 1fr;
}

.narrative-cta__desc {
	margin-top: -1.5rem;
	margin-bottom: 9.2rem;
}


.narrative-cta__media {
	max-height: 53.5rem;
	margin-left: -2rem;
	margin-top: -1rem;
	margin-bottom: 0;
}
.narrative-cta--small-media .narrative-cta__media {
}

.narrative-cta__media-pic {
	height: 100%;
	max-height: inherit;
}
.narrative-cta__media-img {
	height: 100%;
	max-height: inherit;
}	

.narrative-cta__buttons:last-child {
	margin-bottom: 0;
}

.narrative-cta__button {
	min-width: 30rem;
}

.narrative-cta__desc-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3rem;
}

.narrative-cta__desc-group:last-child {
	margin-bottom: -3rem;
}

.narrative-cta__desc-group-item	*:first-child {
	margin-top: 0;
}
.narrative-cta__desc-group-item *:last-child {
	margin-bottom: 0;
}
