.problems {
	padding-top: 12rem;
	padding-bottom: 12rem;
	background: linear-gradient(113deg, #303030 11.83%, #101010 87.31%);
}

.problems__desc {
	margin-bottom: 9rem;
}

.problems-carousel {
	position: relative;
}
