.review-section {
	position: relative;
	z-index: 1;
	--review-desc-gap: 7.5rem;
	@media (min-width: $tablet + 1) {
		padding-bottom: 14.3rem;
	}
	@media (max-width: $mobile) {
		--review-desc-gap: 3.5rem;
	}
}
.review-section--has-bg::before {
	content: "";
	position: absolute;
	bottom: -14%;
	right: 0;
	display: block;
	width: 50%;
	height: 50%;
	background-image: url("../img/sklh_common/quote-big.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	z-index: 1;
  pointer-events: none;

	@media (max-width: $tablet) {
		bottom: -20%;
	}

	@media (max-width: $mobile) {
		bottom: -5%;
	}
}

.review-section__container {
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 3rem;

	@media (max-width: $tablet-xlg) {
		grid-template-columns: 100%;
	}
}

.review-section__title {
	margin-bottom: 4.2rem;

	@media (max-width: $tablet) {
		margin-bottom: 2.8rem;
	}
}

.review-section__source {
	display: inline-block;
	height: 3rem;
	width: auto;
	margin-bottom: 5.3rem;
	transition: var(--tr);
	filter: contrast(0.1) grayscale(1);
	-webkit-filter: contrast(0.1) grayscale(1);

	@media (max-width: $tablet) {
		height: 2rem;
		margin-bottom: 2.8rem;
	}
}

.review-section__desc .review-section__source {
	margin-left: #{'calc(0px - var(--review-desc-gap))'};
}

.review-section__source:hover {
	@media (any-hover: hover) {
		filter: contrast(1) grayscale(0);
		-webkit-filter: contrast(1) grayscale(0);
	}
}

.review-section__source-img {
	display: block;
	width: 100%;
	height: 100%;
}

.review-section .review-section__source-img {
	margin-bottom: 0;
	margin-top: 0;
}

.review-section__desc {
	padding-left: var(--review-desc-gap);
	font-size: 1.5rem;
	position: relative;
	padding-right: 3rem;
}

.review-section .review-section__desc {
	--ls-regular: initial;

	@media (max-width: $tablet) {
		--fz-p: 1.6rem;
		--lh-p: 1.4;
		--ls-regular: initial;
	}
}

.review-section__desc::before {
	content: "";
	position: absolute;
	top: 8rem;
	left: 0;
	display: block;
	width: 5.8rem;
	height: 4.3rem;
	background-image: url(../img/sklh_common/quote.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (max-width: $tablet) {
		top: 4rem;
		width: 3.3rem;
		height: 3.6rem;
	}
}

.review-section__source + p{
	margin-top: 0;
}

.review-section__media {
	padding-top: 10rem;
	grid-row-end: span 2;

	@media (max-width: $tablet-xlg) {
		padding-top: 2.8rem;
		display: flex;
		flex-direction: column;
		grid-row-end: initial;
	}
}

.review-section__media-video {
	margin-bottom: 7rem;

	@media (min-width: $tablet + 1) {
		padding-top: 66.4%;
	}
	@media (max-width: $tablet-xlg) {
		order: 2;
		margin-bottom: 4rem;
	}
}


.review-section__media-caption {
	font-size: 2.4rem;
	text-align: right;
	@media (max-width: $tablet-xlg) {
		margin-bottom: 3.5rem;
	}

	@media (max-width: $tablet) {
		font-size: 1.2rem;
	}
}
.review-section__media-caption-title {
	font-size: 3rem;
	letter-spacing: initial;
	margin-bottom: 1rem;
	line-height: 1.15;

	@media (max-width: $tablet) {
		font-size: 1.6rem;
		letter-spacing: -0.064rem;
		margin-bottom: 0;
	}
}
.review-section__media-caption-desc {
	letter-spacing: -0.096rem;
	font-weight: 300;

	@media (max-width: $tablet) {
		line-height: 140%;
		letter-spacing: -0.048rem;
	}
}

.review-section__buttons {
	padding: 0;
	align-self: end;
	justify-self: start;
}
