.modal {
	background: var(--bg-app);
	padding: 4rem;
	padding-bottom: 8rem;
	max-width: 49.5rem;
	width: 100%;

	@media (max-width: $tablet) {
		padding: 1.2rem 2rem 5.3rem;
	}
}

.modal--wide {
	max-width: 123rem;
}

.modal__head {
	margin-bottom: 14rem;
	@media (max-width: $tablet) {
		margin-bottom: 6rem;
	}
}

.modal--wide .modal__head {
	margin-bottom: 6rem;
}

.modal__logo {
	max-width: 10.5rem;
}

.modal__title {
	color: var(--fg-regular, #FFF);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--ff-regular);
	font-size: 2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: -0.08rem;

	@media (max-width: $tablet) {
		font-size: 1.2rem;
		letter-spacing: -0.048rem;
	}
}
.modal__desc {
	color: var(--fg-regular, #FFF);
	text-align: center;
	leading-trim: both;
	text-edge: cap;
	font-family: var(--ff-regular);
	font-size: 2rem;
	font-style: normal;
	font-weight: 300;
	line-height: 140%;
	letter-spacing: -0.08rem;
	margin-bottom: 6rem;

	@media (max-width: $tablet) {
		max-width: 25rem;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2rem;
		letter-spacing: -0.048rem;
		margin-bottom: 2rem;
	}
}

.modal__form {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;

	@media (max-width: $tablet) {
		max-width: 15rem;
	}
}

.b_modal__closer {
	background-color: transparent;
	top: 4rem;
	right: 4.5rem;	

	@media (max-width: $tablet) {
		top: 1.8rem;
	    right: 1.65rem;
		font-size: 0.9rem;
	}
}
.b_modal__closer::before,
.b_modal__closer::after {
	background-color: var(--c-primary);
	border-radius: 0;
	width: 90%;
	height: 8%;
}