 @import "../components.b/lego/socials";


// .socials__link:hover .socials__icon {
//   @media (any-hover:hover) {
//     filter: drop-shadow(0px 0px 2rem rgba(215, 191, 127, 0.80));
//   }
// }

.socials {
  --icon-size: 2.4rem;
  --icon-gap: 1.6rem;
  --link-padding: 0;
  --icon-brad: ;

  @media (max-width: $mobile-lg) {
    --icon-size: 4rem;
    --icon-gap: 1.5rem;
    --link-padding: 0.9rem;
  }

	@media (max-width: $tablet) {
	    --icon-size: 3.4rem;
	    --icon-gap: 0rem;
	    --link-padding: 0.8rem;
	}
}

.socials__link {
	position: relative;
	width: auto;
	max-width: 3rem;
}
.socials__icon {
	position: relative;
	z-index: 2;
}
.socials__link::before {
	content: "";
	z-index: 1;
	left: 0;
	top: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: blur(0.7rem);
	transition: all 0.3s ease;
	background: rgba(215, 191, 127, 0.80);
	transform: scale(1.4);
}

.socials__link:hover::before {
	@media (any-hover:hover) {
		opacity: 1;
	}
}
