.swiper-pagination {
	display: flex;
	justify-content: space-between;
	max-width: 44rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-pagination-bullet  {
	width: 100%;
	display: block;
	height: 0.2rem;
	background-color: rgba(255, 255, 255, 0.20);
	transition: var(--tr);
	margin-left: 0.8rem;
	margin-right: 0.8rem;
	border-radius: 0.2rem;

	@media (max-width: $tablet) {
		margin-left: 0.4rem;
		margin-right: 0.4rem;
	}
}

.swiper-pagination-bullet:first-child  {
	margin-left: 0;
}
.swiper-pagination-bullet:last-child  {
	margin-right: 0;
}


.swiper-pagination-bullet-active {
	background-color: var(--c-primary);
}

.swiper-button-next:empty,
.swiper-button-prev:empty {
	width: 5rem;
	height: 2.4rem;
	position: relative;
}
.swiper-button-next:empty::before,
.swiper-button-prev:empty::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.swiper-button-prev {
}
.swiper-button-prev:empty::before {
	background-image: url("../img/sklh_common/arrow-left.svg");
}

.swiper-button-next {
}
.swiper-button-next:empty::before {
	background-image: url("../img/sklh_common/arrow-right.svg");
}

	
.swiper-button-next:empty::after,
.swiper-button-prev:empty::after {
	content: "";
	z-index: 1;
	left: 0;
	top: 0;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: blur(0.7rem);
	transition: all 0.3s ease;
	background: rgba(215, 191, 127, 0.80);
}

.swiper-button-next:empty:hover::after,
.swiper-button-prev:empty:hover::after {
	@media (any-hover:hover) {
		opacity: 0.5;
	}
}
