.team-card {
	display: grid;
	grid-template-columns: 42rem auto;
	grid-template-areas: "media head" "media body" "media body";
	align-items: start;
	column-gap: 11rem;
	row-gap: 2.8rem;

	@media (max-width: $laptop-md) {
		grid-template-columns: 30rem auto;
		column-gap: 4rem;
	}

	@media (max-width: $tablet) {
		grid-template-columns: 20rem auto;
		column-gap: 2rem;
	}

	@media (max-width: $mobile) {
		grid-template-columns: 100%;
		grid-template-areas: "head" "media" "body";
		row-gap: 2.4rem;
	}
}

.team-card__media {
	grid-area: media;
	max-width: 42rem;

	@media (max-width: $tablet) {
		max-width: 14.8rem;
		margin-left: auto;
		margin-right: auto;
	}
}

.team-card__head {
	grid-area: head;
	padding-top: 5.5rem;

	@media (max-width: $laptop-md) {
		padding-top: 2.5rem;
	}

	@media (max-width: $tablet) {
		padding-top: 0;
	}
}

.team-card__name {
	color: var(--c-primary);
	leading-trim: both;
	text-edge: cap;
	font-variant-numeric: lining-nums tabular-nums;

	font-family: var(--ff-regular);
	font-size: 6rem;
	font-style: normal;
	font-weight: 700;
	line-height: 133.333%;
	margin-bottom: 1.6rem;
	transition: all 0.3s var(--tr-jolly-enter) 0.2s;

	@media (max-width: $laptop-md) {
		font-size: 4rem;
	}

	@media (max-width: $tablet) {
		font-size: 3rem;
		margin-bottom: 0.5rem;
		// line-height: 281.667%;
	}
}

.swiper-slide .team-card__name {
	opacity: 0;
	transform: translateY(2rem);
}
.swiper-slide-active .team-card__name {
	opacity: 1;
	transform: translateY(0);
}

.team-card__subtitle {
	color: var(--fg-regular);
	leading-trim: both;
	text-edge: cap;

	font-family: var(--ff-regular);
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 500;
	line-height: 115%;
	letter-spacing: -0.096rem;

	transition: all 0.3s var(--tr-jolly-enter) 0.25s;

	@media (max-width: $tablet) {
		font-size: 1.6rem;
	}
}

.swiper-slide .team-card__subtitle {
	opacity: 0;
	transform: translateY(2rem);
}
.swiper-slide-active .team-card__subtitle {
	opacity: 1;
	transform: translateY(0);
}

.team-card__body {
	grid-area: body;
	padding-left: 6.5rem;
	padding-right: 6.5rem;
	padding-bottom: 6rem;
	transition: all 0.3s var(--tr-jolly-enter) 0.3s;

	@media (max-width: $laptop-md) {
		padding-bottom: 3rem;
	}

	@media (max-width: $tablet) {
		padding-left: 2rem;
		padding-right: 0;
	}

	@media (max-width: $mobile-lg) {
		padding-top: 0.4rem;
		padding-left: 8.4rem;
		padding-right: 0;
	}
}

.swiper-slide .team-card__body {
	opacity: 0;
	transform: translateY(2rem);
}
.swiper-slide-active .team-card__body {
	opacity: 1;
	transform: translateY(0);
}
