.catalog {
	padding-top: 0;
}

.catalog__gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(37rem, 1fr));
	gap: 3rem;

	@media (max-width: $mobile-xlg) {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.8rem;
	}
}
