.categories {
	background-color: var(--bg-primary);
}

.categories__gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem 2.1rem;

	@media (max-width: $mobile-xlg) {
		grid-template-columns: 100%;
		row-gap: 1.5rem;
	}
}

.categories-card {
	background-color: var(--bg-card);
	border: 1px solid rgba(0, 0, 0, 0.04);
	border-radius: 2rem;
	position: relative;
	overflow: hidden;
	--content-width: 27rem;

	@media (max-width: $tablet-xlg) {
		--content-width: 20rem;
	}
	
	@media (max-width: $mobile-xlg) {
		--content-width: 30rem;
		min-height: 20.8rem;
	}
	@media (max-width: $mobile-lg) {
		--content-width: 55.3%;
	}
}

.categories-card__content {
	z-index: 2;
	position: relative;
	padding: 4rem 0 4.4rem 6.9rem;
	// padding: 4rem 6.9rem 4.4rem;

	@media (max-width: $laptop-md) {
		padding: 4rem 0 4.4rem 4rem;
	}

	@media (max-width: $tablet-xlg) {
		padding: 2rem 0 2.4rem 3rem;
	}

	@media (max-width: $mobile-xlg) {
		padding: 2rem 0 2rem 2.5rem;
		display: flex;
		flex-direction: column;
    align-items: flex-start;
    height: 100%;
	}
}

.categories-card__media {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
	height: 100%;
	pointer-events: none;

	@media (max-width: $mobile-xlg) {
		right: -4rem;
	}
}

.categories-card__pic {
	display: block;
	width: 100%;
	height: 100%;
}

.categories-card__img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: right;
}

.categories-card__title {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 130.4%;
	margin-bottom: 1.5rem;
	max-width: var(--content-width);

	@media (max-width: $mobile-xlg) {
		font-size: 1.6rem;
		margin-bottom: 0.4rem;
	}
}

.categories-card__desc {
	font-size: 2rem;
	font-weight: 400;
	line-height: 130.4%;
	margin-bottom: 2rem;
	max-width: var(--content-width);

	@media (max-width: $mobile-xlg) {
		font-size: 1.4rem;
	}
}

.categories-card__button {
	font-size: 1.4rem;
	position: static;

	@media (min-width: $laptop-md + 1) {
		opacity: 0;
	}

	@media (max-width: $laptop-md) and (min-width: $mobile-xlg) {
    font-size: 1.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
	}

	@media (max-width: $mobile-xlg) {
		font-size: 1.2rem;
		margin-top: auto;
	}
}

.categories-card__button:hover {
	@media (any-hover:hover) {
		opacity: 1;
	}
}

.categories-card__button::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
}
