.categories-showcase {
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

.categories-showcase:last-of-type {
	margin-bottom: 3rem;
}

.categories-showcase__container {
	padding-top: 7rem;
	padding-bottom: 7rem;
	border-bottom: 0.1rem solid var(--c-border);

	@media (max-width: $mobile-xlg) {
		border-bottom: none;
		padding-top: 1.5rem;
		padding-bottom: 0;
	}
}

.page-title + .categories-showcase .categories-showcase__container {
	padding-top: 0;
}

.categories-showcase:last-of-type .categories-showcase__container {
	border-bottom: none;
}

.categories-showcase__button {
	@media (max-width: $mobile-xlg) {
		font-size: 1.2rem;
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}
}

.categories-showcase__button::after {
	@media (min-width: $mobile-xlg + 1) {
		transform: scaleX(1.2);
	}
}
