.wysiwyg {
	--wysiwyg-fz: 10px;
	--accnet: var(--c-primary);

	--fg: var(--fg-regular);

	--fw-regular: 300;
	--fw-title: 700;
	--lh-regular: 1.4;
	--ls-regular: -0.8px;


	--bg-marker-ul: var(--fg);
	--size-marker-ul: 0.3rem;
	--top-marker-ul: 1.05rem;
	--left-marker-ul: -0.85em;

	--fz-ul: 2em;
	--lh-ul: 1.25;
	--ls-ul: var(--ls-regular);
	--margin-bottom-ul: 2em;
	--padding-left-ul: 1.55em;
	--margin-bottom-li: 0.2em;

	--fz-p: 2em;
	--lh-p: var(--lh-regular);
	--ls-p: var(--ls-regular);
	--margin-top-p: 1em;
	--margin-bottom-p: 1em;

	--fz-h1: 5.5em;
	--lh-h1: 1;
	--margin-top-h1: 0.72em;
	--margin-bottom-h1: 0.36em;

	--fz-h2: 5.5em;
	--lh-h2: 1;
	--margin-top-h2: 0.72em;
	--margin-bottom-h2: 0.36em;

	--fz-h3: 4.4em;
	--lh-h3: 1;
	--margin-top-h3: 0.9em;
	--margin-bottom-h3: 0.45em;

	--fz-h4: 3.5em;
	--lh-h4: 1;
	--margin-top-h4: 1.14em;
	--margin-bottom-h4: 0.57em;

	--fz-h5: 2.8em;
	--lh-h5: 1;
	--margin-top-h5: 1.42em;
	--margin-bottom-h5: 0.71em;

	--fz-h6: 2.0em;
	--lh-h6: 1;
	--margin-top-h6: 1em;
	--margin-bottom-h6: 1em;


	font-size: var(--wysiwyg-fz);
	font-weight: var(--fw-regular);
	color: var(--fg-text);
	line-height: var(--lh-regular);


	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: var(--fw-title);
		color: var(--fg);
	}

	h1 {
		font-size: var(--fz-h1);
		line-height: var(--lh-h1);
		margin-top: var(--margin-top-h1);
		margin-bottom: var(--margin-bottom-h1);
	}

	h2 {
		font-size: var(--fz-h2);
		line-height: var(--lh-h2);
		margin-top: var(--margin-top-h2);
		margin-bottom: var(--margin-bottom-h2);
	}

	h3 {
		font-size: var(--fz-h3);
		line-height: var(--lh-h3);
		margin-top: var(--margin-top-h3);
		margin-bottom: var(--margin-bottom-h3);
	}

	h4 {
		font-size: var(--fz-h4);
		line-height: var(--lh-h4);
		margin-top: var(--margin-top-h4);
		margin-bottom: var(--margin-bottom-h4);
	}

	h5 {
		font-size: var(--fz-h5);
		line-height: var(--lh-h5);
		margin-top: var(--margin-top-h5);
		margin-bottom: var(--margin-bottom-h5);
	}

	h6 {
		font-size: var(--fz-h6);
		line-height: var(--lh-h6);
		margin-top: var(--margin-top-h6);
		margin-bottom: var(--margin-bottom-h6);
	}


	p {
		font-size: var(--fz-p);
		line-height: var(--lh-p);
		letter-spacing: var(--ls-p);
		margin-top: var(--margin-top-p);
		margin-bottom: var(--margin-bottom-p);
	}

	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: 1.5em;
	}

	> *:first-child {
		margin-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}

	a {
		color: var(--accent);
		text-decoration: underline;
	}

	/* Стили для цитат */
	blockquote {
	  margin: 1.4em 0;
	  padding: 1.5em 3em;
	  background-color: #f8f8f8;
	  // border-left: 4px solid #ccc;
	  border-radius: 30px;
		background: #F0F2F5;

		@media (max-width: $mobile) {
			padding: 1.5em 1em;
		}
	}

	img {
		width: 100%;
		display: block;
		border-radius: 3rem;
		margin-bottom: 7.2rem;

		@media (max-width: $mobile) {
			margin-bottom: 3.5rem;
		}
	}

	/* Стили для таблиц */
	table {
	  width: 100%;
	  border-collapse: collapse;
	  margin-top: 1.4em;
	  margin-bottom: 1.4em;
	}

	th,
	td {
	  padding: 0.5em;
	  border-bottom: 1px solid #ccc;
	}

	/* Стили для кода */
	pre {
	  margin-top: 1.4em;
	  margin-bottom: 1.4em;
	  padding: 0.5em;
	  background-color: #f8f8f8;
	  border: 1px solid #ccc;
	  overflow-x: auto;
	  font-family: monospace;
	}

	code {
	  font-family: monospace;
	  color: #333;
	  background-color: #f8f8f8;
	  padding: 0.2em 0.4em;
	  border-radius: 3px;
	}

	/* Дополнительные стили, которые могут понадобиться */
	strong {
	  font-weight: bold;
	}

	em {
	  font-style: italic;
	}

	ul,
	ol {
		margin-bottom: var(--margin-bottom-ul);
		padding-left: var(--padding-left-ul);
		font-size: var(--fz-ul);
		line-height: var(--lh-ul);
		letter-spacing: var(--ls-ul);
	}
	p + ul,
	p + ol {
		margin-top: #{'calc(0px - (var(--margin-bottom-p) / 3.5))'}
	}

	ol li,
	ul li {
		list-style: none;
		position: relative;
	}

	ol {
		counter-reset: ol;
	}

	ol > li {
		counter-increment: ol;
		list-style: none;
		position: relative;
	}
	ol > li::before {
		content: counter(ol)")";
		position: absolute;
		left: #{'calc(0px - var(--list-gap))'};
		font-weight: 700;
	}

	li {
		list-style: initial;
		margin-bottom: var(--margin-bottom-li);
	}
	li:last-child {
		margin-bottom: 0;
	}
	
	ol ul li {
		list-style: initial;
	}

	button {
		margin-bottom: 3rem;
	}

	img {
		margin-bottom: 3rem;
		border-radius: 1rem;
	}

	ol ul li::before,
	ul li::before {
		content: "";
    top: var(--top-marker-ul);
    left: var(--left-marker-ul);
		position: absolute;
		display: block;
		--size: var(--size-marker-ul);
		max-width: var(--size);
		min-width: var(--size);
		width: var(--size);
		height: var(--size);
		border-radius: 9999px;
		background-color: var(--bg-marker-ul);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	ul > ul li::before {
		border-radius: 0;
	}
}
