.link {
  --icon-width: 4rem;
  --icon-height: 2.4rem;
  --icon-gap: 0.8rem;

  --c-disabled: #4B4B4B;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  --padding: var(--padding-block) var(--padding-inline);
  padding: var(--padding);


  font-family: var(--ff);
  font-size: var(--fz);
  font-weight: var(--fw);
  line-height: var(--lh);
  color: var(--fg);

  cursor: pointer;
  transition: all 0.3s ease;
}

.link__text {
}


.link {
  /*
  --ff: var(--ff-regular);
  --fz: 2rem;
  --fw: 500;
  --lh: initial;

  --padding-block: 1.25em;
  --padding-inline: 1.5em;

  --fg: var(--c-primary);
  --bg: var(--bg-app);

  --border-width: 0.1rem;
  --border-color: var(--c-primary);
  --border-radius: 9999px;
  */
}

.link__text {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;

  border-bottom: var(--border-width) solid var(--border-color);
  transition: inherit;
  padding: var(--text-padding);
}

.link__icon {
  width: var(--icon-width);
  min-width: var(--icon-width);
  height: var(--icon-height);
  min-height: var(--icon-height);
  display: block;
  --icon-color: var(--fg);
  transition: inherit;
}

.link__icon:first-child {
  margin-right: var(--icon-gap);
}
.link__icon:last-child {
  margin-left: var(--icon-gap);
}

/*
.link {
  color: var(--c-second);
  font-weight: 700;
  font-family: var(--ff-title);
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  transition: var(--tr-regular);
}

.link__text {
  font-size: inherit;
  border-bottom: 0.1rem solid transparent;
}
.link:hover .link__text {
  @media (any-hover:hover) {
    border-bottom: 0.1rem solid;
  }
}

.link__icon {
  font-size: inherit;
  display: block;
  width: 0.334em;
  height: 0.556em;
  margin-left: 0.334em;
  transition: var(--tr-regular);
}
.link:hover .link__icon {
  @media (any-hover:hover) {
    transform: rotate(-45deg);
  }
}

.link-second {
  --link-color: var(--fg-third);
  display: inline;
  color: var(--link-color);
  font-size: inherit;
  transition: var(--tr-regular);
  border-bottom: 1px solid;
}

.link-second:hover {
  @media (any-hover:hover) {
    --link-color: var(--c-second)
  }
}

*/