.button-sticky {
  position: sticky;
  max-width: 37.5rem;
	bottom: 24rem;
  bottom: 32rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 15;
  margin-top: 10rem;

  @media (max-width: $desktop-lg) {
  	bottom: 36rem;
  }
  @media (max-width: $desktop-md) {
    bottom: 46rem;
  }

  @media (max-width: $laptop-xlg) {
    // bottom: 20rem;
    bottom: 35rem;
  }
  @media (max-width: $laptop-lg) {
    bottom: 40rem;
    // bottom: 46rem;
  }

  @media (max-width: $laptop-md) {
    bottom: 0rem;
    margin-top: 5rem;
  }
}

.button-sticky--hidden {
  transform: translateY(8rem);
  opacity: 0;
  pointer-events: none;
}

.button-sticky--active {
  bottom: 5rem;

  @media (max-width: $laptop-md) {
    bottom: 2rem;
  }

  @media (max-width: $mobile-lg) {
    bottom: 0;
  }
}
