/*

.search>form.search__row>.search__input>input.search__field^button.search__button

*/
.search {
	padding: 1.5rem 1.6rem 1rem 1.1rem;
	border-radius: 1rem;
	--search-color: rgba(132, 132, 131, 1);
	background-color: #fff;
	margin-bottom: 4rem;

	@media (max-width: $tablet-xlg) {
		border-radius: 1.5rem;
		margin-bottom: 2.1rem;
	}
}

.search--active {
	--search-color:#222;
}

.search__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	--color: var(--search-color);
	border-bottom: 1px solid rgba(223, 223, 223, 0.5);
	padding-bottom: 1rem;
	transition: var(--tr-regular);
}

.search__input {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: text;
	max-width: 90%;
	width: 100%;	
}

.search__input-icon {
	--size: 5.4rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	margin-right: 0.5rem;
	--icon-stroke-color: var(--color);
	transition: var(--tr-regular);

	@media (max-width: $tablet-xlg) {
		--size: 2.7rem;
	}
}

.search__field {
	width: 100%;	
	max-width: 100%;
	color: var(--color);
	font-size: 1.4rem;
	line-height: 1.4;
	transition: var(--tr-regular);

	@media (max-width: $tablet-xlg) {
		font-size: 1.6rem;
	}
}

.search__field::placeholder {
	color: rgba(132, 132, 131, 0.2);
}

.search__scroller {
	@media (max-width: $tablet-xlg) {
		width: auto;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
		margin-bottom: -1.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-left: -2rem;
		margin-right: -2rem;
	}
}
.search__filters {
	padding: 0;

	@media (max-width: $tablet-xlg) {
		display: flex;
		width: auto;
		padding-bottom: 1.5rem;
	}
}

.search__button {
	--size: 1.8rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
}
.search__icon {
	height: 100%;	
}
