<!DOCTYPE html>
<html lang="ru-RU">
  <head>
      @@include('tpls/b/meta-head.html',{
        "title": "Skillhouse",
        "desc": "",
        "themeColor": "#1A1A1A",
      })
      <link rel="stylesheet" href="./css/style.css">
  </head>
  
  <body class="page-home">

    <div class="wrapper">
      @@include('tpls/sections.sklh/header.html',{})

      <main class="main">

        <section class="section hero">
          <div class="container hero__container">
            <div class="hero__offer">
              <h2 class="section-title hero__title">
                <span class="text-colored">Дизайн интерьера</span>
                и ремонт <br> квартир под ключ в&nbsp;Москве
              </h2>
              <div class="hero__buttons section-buttons">
                <a class="button-primary" href="#section-quiz">Узнать стоимость ремонта</a>
                <a class="button-secondary" href="#section-price">Заказать дизайн-проект</a>
              </div>
            </div>
          </div>
          <div class="hero__bg js_use-bg">
            <div class="only-desktop" data-use-bg="./img/sklh_hero/hero-bg.jpg"></div>
            <div class="only-mobile" data-use-bg="./img/sklh_hero/hero-bg-mobile.jpg"></div>
          </div>
        </section>


        <section class="section features">
          <div class="container features__container">
            <div class="features__gallery">
              <article class="features-card">
                <h3 class="features-card__title">
                  Сделаем <span class="text-colored">дизайн </span> <br> проект
                </h3>
                <p class="features-card__desc">
                  по СП и ГОСТ, разработаем чертежи по инженерным коммуникациям, сделаем визуализацию
                </p>
              </article>
              <article class="features-card">
                <h3 class="features-card__title">
                  Подберем, доставим
                </h3>
                <p class="features-card__desc">
                  черновой материал со склада по ценам Леруа, отчитаемся и выкупим остатки
                </p>
              </article>
              <article class="features-card">
                <h3 class="features-card__title">
                  Комплектатор  <br>
                  <span class="text-colored">бесплатно</span>
                </h3>
                <p class="features-card__desc">
                  подберем чистовой материал за 1 час у наших портретов по дилерским ценным
                </p>
              </article>
              <article class="features-card">
                <h3 class="features-card__title">
                  Сделаем мебель
                </h3>
                <p class="features-card__desc">
                  и кухонный гарнитур по ценам 10-15% ниже рынка
                </p>
              </article>
              <article class="features-card">
                <h3 class="features-card__title">
                  Фиксированная стоимость и сроки
                </h3>
                <p class="features-card__desc">
                  приступим к  выполнению работ в течении недели
                </p>
              </article>
              <button class="button-secondary features__gallery-button features__button-callback" type="button" data-b_modal-open="callback">Заказать звонок</button>
            </div>
          </div>
        </section>

        <section class="section portfolio-gallery" id="section-portfolio">
          <div class="container portfolio-gallery__container">
            <h2 class="section-title portfolio-gallery__title">
              <span class="text-colored">Портфолио</span>
            </h2>
            <div class="portfolio-gallery__showcase">
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-01.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                  <picture class="portfolio-gallery-card__media-content-hover">
                    <img src="./img/b_common/test.gif" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-armond.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-02.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                  <div class="b_video b_video--looped portfolio-gallery-card__media-content-hover" data-video-url="https://www.youtube.com/watch?v=2VcEI3KF7tA"></div>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-bastil.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-03.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                  <div class="b_video b_video--looped portfolio-gallery-card__media-content-hover" data-video-url="https://www.youtube.com/watch?v=2VcEI3KF7tA"></div>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-boleir.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-04.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                  <div class="b_video b_video--looped portfolio-gallery-card__media-content-hover" data-video-url="https://www.youtube.com/watch?v=48qgz7utECQ"></div>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-darkside.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-05.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-armond.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-06.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-bastil.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-07.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-boleir.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-08.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-darkside.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
              <article class="portfolio-gallery-card">
                <div class="portfolio-gallery-card__media">
                  <picture class="portfolio-gallery-card__media-pic">
                    <img src="./img/sklh_portfolio/portfolio-09.jpg" alt="" class="portfolio-gallery-card__media-img">
                  </picture>
                </div>
                <a href="#" class="portfolio-gallery-card__link">Смотреть объект</a>
                <div class="portfolio-gallery-card__logo">
                  <picture class="portfolio-gallery-card__logo-pic">
                    <img src="./img/sklh_portfolio/logo-armond.png" alt="" class="portfolio-gallery-card__logo-img">
                  </picture>
                </div>
              </article>
            </div>
            <div class="portfolio-gallery__buttons section-buttons">
              <a class="button-primary" href="#section-quiz">Узнать стоимость ремонта</a>
              <button class="button-secondary" type="button" data-b_modal-open="showroom">Записаться на просмотр</button>
            </div>
          </div>
        </section>


        <section class="section price" id="section-price">
          <div class="container price__container">
            <h2 class="section-title price__title">
              <span class="text-colored">Стоимость </span> <br class="only-mobile">
              дизайн&#8209;проекта
            </h2>
            <div class="price-table">
              <div class="swiper price-table-swiper">
                <div class="swiper-wrapper">
                  <article class="swiper-slide price-table-slide">
                    <div class="price-table-slide__body">
                      <h3 class="price-table-slide__title">Стандарт</h3>
                      <p class="price-table-slide__cost">
                        <span class="price-table-slide__cost-value">1 500 </span>
                        <span class="text-currency">₽</span><span class="text-sub text-sub--square">м</span>
                      </p>
                      <p class="price-table-slide__desc">
                        Минимальные затраты <br>
                        при высоком качестве
                      </p>
                    </div>
                    <div class="price-table-slide__foot">
                      <button class="link price-table-slide__button-more" type="button" data-b_modal-open="tariff">
                        Подробнее
                      </button>
                    </div>
                  </article>
                  <article class="swiper-slide price-table-slide">
                    <div class="price-table-slide__body">
                      <h3 class="price-table-slide__title">Комфорт</h3>
                      <p class="price-table-slide__cost">
                        <span class="price-table-slide__cost-value">3 000 </span>
                        <span class="text-currency">₽</span><span class="text-sub text-sub--square">м</span>
                      </p>
                      <p class="price-table-slide__desc">
                        Оптимальное соотношение <br>
                        стоимости и результата
                      </p>
                    </div>
                    <div class="price-table-slide__foot">
                      <button class="link price-table-slide__button-more" type="button" data-b_modal-open="tariff">
                        Подробнее
                      </button>
                    </div>
                  </article>
                  <article class="swiper-slide price-table-slide">
                    <div class="price-table-slide__body">
                      <h3 class="price-table-slide__title">Премиум</h3>
                      <p class="price-table-slide__cost">
                        <span class="price-table-slide__cost-value">5 000 </span>
                        <span class="text-currency">₽</span><span class="text-sub text-sub--square">м</span>
                      </p>
                      <p class="price-table-slide__desc">
                        Идеальное исполнение <br>
                        для самых взыскательных
                      </p>
                    </div>
                    <div class="price-table-slide__foot">
                      <button class="link price-table-slide__button-more" type="button" data-b_modal-open="tariff">
                        Подробнее
                      </button>
                    </div>
                  </article>
                </div>
              </div>
              <div class="swiper-pagination price-table__pagination"></div>
            </div>
          </div>
        </section>

        <section class="section narrative-cta narrative-cta--small-media" id="section-quiz-cta">
          <div class="container narrative-cta__container">
            <div class="narrative-cta__content">
              <h2 class="section-title narrative-cta__title">
                Планируете ремонт? <br>
                Пройдите <span class="text-colored">короткий тест <br>
                 за&nbsp;1&nbsp;минуту</span>
              </h2>
              <div class="narrative-cta__desc wysiwyg">
                <p>И получите <span class="text-bold">уникальное предложение бесплатно:</span> </p>
                <ul>
                  <li>точный расчет сметы</li>
                  <li>обмерный план</li>
                  <li>планировочное решение</li>
                </ul>
              </div>
              <div class="narrative-cta__buttons">
                <a href="#section-quiz" class="button-primary narrative-cta__button">Узнать стоимость ремонта</a>
              </div>
            </div>
            <div class="narrative-cta__media">
              <picture class="narrative-cta__media-pic">
                <img src="./img/sklh_cta/quiz-cta.png" alt="Как расчитать ремонт" class="narrative-cta__media-img">
              </picture>
            </div>
          </div>
        </section>


        <section class="section section-quiz" id="section-quiz">
          <div class="container section-quiz__container">
            <div class="quiz js_form">
              <div class="quiz__progress">
                <div class="swiper-pagination quiz__progress-pagination">
                </div>
                <p class="quiz__progress-value is-hidden">
                  <span class="quiz__progress-value-current">1</span>
                  <span class="quiz__progress-value-separator">/</span>
                  <span class="quiz__progress-value-max">6</span>
                </p>
              </div>
              <div class="swiper quiz__swiper">
                <div class="swiper-wrapper">
                  @@for (var i = 0; i < 1; i++) {
                  <article class="swiper-slide quiz-slide">
                    <div class="quiz-slide__question">
                      <h3 class="quiz-slide__title section-title">
                        Где Вы планируете делать ремонт?
                      </h3>
                      <div class="quiz-slide__content">
                        <div class="quiz-slide__answerlist">
                          @@include('./tpls/input/radio.html', {
                            className: 'quiz-slide__answer',
                            name: 'quiz_step_`+i+`',
                            label: 'Новостройка',
                            value: 'Новостройка',
                            attributes: 'checked required',
                          })
                          @@include('./tpls/input/radio.html', {
                            name: 'quiz_step_`+i+`',
                            className: 'quiz-slide__answer',
                            label: 'Вторичка',
                            value: 'Вторичка',
                            attributes: 'required',
                          })
                          @@include('./tpls/input/radio.html', {
                            name: 'quiz_step_`+i+`',
                            className: 'quiz-slide__answer',
                            label: 'Коттедж / Таунхаус',
                            value: 'Коттедж / Таунхаус',
                            attributes: 'required',
                          })
                          @@include('./tpls/input/radio.html', {
                            name: 'quiz_step_`+i+`',
                            className: 'quiz-slide__answer',
                            label: 'Коммерческий объект',
                            value: 'Коммерческий объект',
                            attributes: 'required',
                          })
                        </div>
                      </div>
                    </div>
                    <div class="quiz-slide__media">
                      <picture class="quiz-slide__media-pic">
                        <img src="./img/sklh_quiz/quiz-step-1.jpg" alt="Где Вы планируете делать ремонт?" class="quiz-slide__media-img">
                      </picture>
                    </div>
                  </article>
                  }
                  <article class="swiper-slide quiz-slide quiz-slide--wide">
                    <div class="quiz-slide__question">
                      <h3 class="quiz-slide__title section-title">
                        Выберите картинку
                      </h3>
                      <div class="quiz-slide__content">
                        <div class="quiz-slide__answerlist quiz-slide__answerlist--horizontal-list">
                          @@include('./tpls/input/radio-imaged.html', {
                            className: 'quiz-slide__answer',
                            name: 'quiz_step_image',
                            label: 'Новостройка',
                            value: 'Новостройка',
                            attributes: 'checked required',
                            img: './img/sklh_quiz/quiz-step-1.jpg',
                          })
                          @@include('./tpls/input/radio-imaged.html', {
                            className: 'quiz-slide__answer',
                            name: 'quiz_step_image',
                            label: 'Вторичка',
                            value: 'Вторичка',
                            attributes: 'checked required',
                            img: './img/sklh_quiz/quiz-step-1.jpg',
                          })
                          @@include('./tpls/input/radio-imaged.html', {
                            className: 'quiz-slide__answer',
                            name: 'quiz_step_image',
                            label: 'Коттедж / Таунхаус',
                            value: 'Коттедж / Таунхаус',
                            attributes: 'checked required',
                            img: './img/sklh_quiz/quiz-step-1.jpg',
                          })
                          @@include('./tpls/input/radio-imaged.html', {
                            className: 'quiz-slide__answer',
                            name: 'quiz_step_image',
                            label: 'Коммерческий объект',
                            value: 'Коммерческий объект',
                            attributes: 'checked required',
                            img: './img/sklh_quiz/quiz-step-1.jpg',
                          })
                        </div>
                      </div>
                    </div>
                  </article>
                  <article class="swiper-slide quiz-slide" data-step-button-next="Последний вопрос">
                    <div class="quiz-slide__question">
                      <h3 class="quiz-slide__title section-title">
                        Как с Вами связаться?
                      </h3>
                      <div class="quiz-slide__content">
                        <div class="quiz-slide__answerlist">
                          @@include('./tpls/input/radio.html', {
                            className: 'quiz-slide__answer',
                            name: 'quiz_step_`+i+`',
                            label: 'Перезвоните, у меня <br>еще остались вопросы',
                            value: 'Перезвоните, у меня еще остались вопросы',
                            attributes: 'checked required',
                          })
                          @@include('./tpls/input/radio.html', {
                            name: 'quiz_step_`+i+`',
                            className: 'quiz-slide__answer',
                            label: 'Whatsapp',
                            value: 'Whatsapp',
                            attributes: 'required',
                          })
                          @@include('./tpls/input/radio.html', {
                            name: 'quiz_step_`+i+`',
                            className: 'quiz-slide__answer',
                            label: 'Telegram',
                            value: 'Telegram',
                            attributes: 'required',
                          })
                        </div>
                        <div class="quiz-slide__answerlist">
                          @@include('./tpls/input/name.html', {placeholder: 'Ваше имя'})
                          @@include('./tpls/input/tel.html', {placeholder: 'Номер телефона'})
                          <div class="button-primary js_form__submit">Узнать цену</div>
                        </div>
                      </div>
                    </div>
                    <div class="quiz-slide__media">
                      <picture class="quiz-slide__media-pic">
                        <img src="./img/sklh_quiz/quiz-step-1.jpg" alt="Где Вы планируете делать ремонт?" class="quiz-slide__media-img">
                      </picture>
                    </div>
                  </article>
                </div>
              </div>
              <div class="b_swiper__buttons quiz__buttons">
                <div class="swiper-button-prev quiz__button-prev link">
                  <svg class="link__icon">
                    <use href="./img/sklh_common/arrow-left.svg#arrow-left" />
                  </svg>
                  <span class="link__text">Назад</span>
                </div>
                <div class="swiper-button-next quiz__button-next button-secondary">
                  <span class="button__text">Следующий шаг</span>
                  <svg class="button__icon">
                    <use href="./img/sklh_common/arrow-right.svg#arrow-right" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section narrative-cta" id="section-contract">
          <div class="container narrative-cta__container">
            <div class="narrative-cta__content">
              <h2 class="section-title narrative-cta__title">
                <span class="text-colored">Договор. </span><br class="section-br">
                Фиксированные цена, сроки, и поэтапная оплата
              </h2>
              <div class="narrative-cta__desc wysiwyg">
                <p>
                  <span class="text-bold">Никаких доплат и затягивания сроков. </span>
                  До начала ремонта Вы точно знаете сколько он стоит и когда закончится. Цена, сроки, 
                  3 этапа оплаты — <span class="text-bold">всё фиксируется в&nbsp;договоре.</span>
                </p>
              </div>
              <div class="narrative-cta__buttons">
                <button type="button" class="button-primary narrative-cta__button" data-b_modal-open="contract">Скачать договор</button>
              </div>
            </div>
            <div class="narrative-cta__media">
              <picture class="narrative-cta__media-pic">
                <img src="./img/sklh_contract/contract.png" alt="Ремонт по договору" class="narrative-cta__media-img">
              </picture>
            </div>
          </div>
        </section>

        <section class="section problems" id="section-problems">
          <div class="container problems__container">
            <h2 class="section-title problems__title">
              Самые распространенные <br>
              <span class="text-colored">проблемы </span>
              клиентов
            </h2>
            <div class="wysiwyg section-desc problems__desc">
              <p>
                с которыми они сталкиваются 
                <span class="text-bold">в других компаниях</span>
              </p>
            </div>
            <div class="problems-carousel">
              <div class="swiper problems-carousel__swiper">
                <div class="swiper-wrapper">
                  <article class="swiper-slide problems-carousel-slide">
                    <div class="problems-carousel-slide__media">
                      <picture class="problems-carousel-slide__media-pic">
                        <img src="./img/sklh_problems/problem-1.png" alt="" class="problems-carousel-slide__media-img">
                      </picture>
                    </div>
                    <div class="problems-carousel-slide__content">
                      <h3 class="problems-carousel-slide__title">
                        Нет общего бюджета <br>
                        всего ремонта
                      </h3>
                      <div class="problems-carousel-slide__desc wysiwyg">
                        <p class="text-colored text-bold">Наше решение:</p>
                        <p>
                          Мы даем полную картину, через <span class="text-bold">предваритрельную смету </span> и точно корректируем её после разработки дизайн-проекта, что <span class="text-bold">экономит бюджет в 1,5-2 раза.</span>
                        </p>
                      </div>
                    </div>
                  </article>
                  <article class="swiper-slide problems-carousel-slide">
                    <div class="problems-carousel-slide__media">
                      <picture class="problems-carousel-slide__media-pic">
                        <img src="./img/sklh_problems/problem-2.png" alt="" class="problems-carousel-slide__media-img">
                      </picture>
                    </div>
                    <div class="problems-carousel-slide__content">
                      <h3 class="problems-carousel-slide__title">
                        Затягивание сроков <br>
                        ремонта
                      </h3>
                      <div class="problems-carousel-slide__desc wysiwyg">
                        <p class="text-colored text-bold">Наше решение:</p>
                        <p>
                          На подготовительном этапе перед ремонтом, составляем производственный <span class="text-bold">график работ </span> и прописываем их <span class="text-bold"> в договоре.</span>
                        </p>
                      </div>
                    </div>
                  </article>
                  <article class="swiper-slide problems-carousel-slide">
                    <div class="problems-carousel-slide__media">
                      <picture class="problems-carousel-slide__media-pic">
                        <img src="./img/sklh_problems/problem-3.png" alt="" class="problems-carousel-slide__media-img">
                      </picture>
                    </div>
                    <div class="problems-carousel-slide__content">
                      <h3 class="problems-carousel-slide__title">
                        Неквалифицированные <br>
                        рабочие
                      </h3>
                      <div class="problems-carousel-slide__desc wysiwyg">
                        <p class="text-colored text-bold">Наше решение:</p>
                        <p>
                          Узкопрофильные <span class="text-bold">мастера с большим опытом</span>  работы. Каждый профессионал в своем деле, ежегодно за счет компании проходит курсы повышения квалификации.
                        </p>
                      </div>
                    </div>
                  </article>
                  <article class="swiper-slide problems-carousel-slide">
                    <div class="problems-carousel-slide__media">
                      <picture class="problems-carousel-slide__media-pic">
                        <img src="./img/sklh_problems/problem-4.png" alt="" class="problems-carousel-slide__media-img">
                      </picture>
                    </div>
                    <div class="problems-carousel-slide__content">
                      <h3 class="problems-carousel-slide__title">
                        Отсутсвие гарантии <br>
                        безопасности
                      </h3>
                      <div class="problems-carousel-slide__desc wysiwyg">
                        <p class="text-colored text-bold">Наше решение:</p>
                        <p>
                        Работы проводятся согласно СНИПам, СП и ГОСТам. 
                          <span class="text-bold">Упор на качество, </span>
                           а не на срок. Вы получаете 
                          <span class="text-bold">расширенную гарантию на 3 года</span> на все виды выполенных работ.
                        </p>
                      </div>
                    </div>
                  </article>
                  <article class="swiper-slide problems-carousel-slide">
                    <div class="problems-carousel-slide__media">
                      <picture class="problems-carousel-slide__media-pic">
                        <img src="./img/sklh_problems/problem-5.png" alt="" class="problems-carousel-slide__media-img">
                      </picture>
                    </div>
                    <div class="problems-carousel-slide__content">
                      <h3 class="problems-carousel-slide__title">
                        Некачественный черновой материал
                      </h3>
                      <div class="problems-carousel-slide__desc wysiwyg">
                        <p class="text-colored text-bold">Наше решение:</p>
                        <p>
                          Мы предоставим все <span class="text-bold">сертификаты качества</span> на купленный черновой материал с гарантией, что <span class="text-bold">материал  прошел все надлежание проверки.</span>
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <div class="b_swiper__nav problems-carousel__nav">
                <div class="swiper-button-prev problems-carousel__button-prev"></div>
                <div class="swiper-pagination problems-carousel__pagination"></div>
                <div class="swiper-button-next problems-carousel__button-next"></div>
              </div>
            </div>
          </div>
        </section>

        <section class="section narrative-cta narrative-cta--mobile-vertical" id="section-showroom">
          <div class="container narrative-cta__container">
            <div class="narrative-cta__content">
              <h2 class="section-title narrative-cta__title">
                Посетите <br class="only-mobile">наш <br>
                <span class="text-colored">Шоурум</span>
              </h2>
              <div class="narrative-cta__desc wysiwyg">
                <p>
                  <span class="text-bold">Комплектация объекта под ключ. </span> Мы реализуем любые идеи вашего проекта: подберем нужные материалы и предметы интерьера. 
                </p>
              </div>
              <div class="b_video" data-video-url="https://www.youtube.com/watch?v=2VcEI3KF7tA"></div>
              <div class="narrative-cta__desc-group wysiwyg">
                <div class="narrative-cta__desc-group-item">
                  <p class="text-bold">Расчет чистовых материалов:</p>
                  <ul>
                    <li>Плитка</li>
                    <li>Обои</li>
                    <li>Напольные покрытие</li>
                    <li>Электротовары </li>
                    <li>Радиаторы</li>
                    <li>Сантехника</li>
                  </ul>
                </div>
                <div class="narrative-cta__desc-group-item">
                  <p class="text-bold">Мебель на заказ:</p>
                  <ul>
                    <li>Кухонные гарнитуры </li>
                    <li>Шкафы тумбы и прочее</li>
                    <li>Гардеробные</li>
                    <li>Мягкая мебель </li>
                    <li>Мебель для офиса</li>
                  </ul>
                </div>
              </div>
              <div class="narrative-cta__buttons">
                <button class="button-primary narrative-cta__button" type="button" data-b_modal-open="showroom">Записаться в Шоурум</button>
              </div>
            </div>
            <div class="narrative-cta__media">
              <!-- <div class="b_video" data-video-url="https://upload.wikimedia.org/wikipedia/commons/transcoded/8/87/Schlossbergbahn.webm/Schlossbergbahn.webm.480p.vp9.webm"></div> -->
            </div>
          </div>
        </section>

        <section class="section team" id="section-team">
          <div class="container team__container">
            <h2 class="section-title team__title">
              Наша 
              <span class="text-colored"> команда</span>
            </h2>
            <div class="team__tabs tabs">
              <div class="tabs__tablist" data-tabs="team">
                <button class="tabs__button active link" type="button">
                  Мастера
                </button>
                <button class="tabs__button link" type="button">
                  Дизайнеры
                </button>
                <button class="tabs__button link" type="button">
                  Менеджеры
                </button>
                <button class="tabs__button link" type="button">
                  Контроль качества
                </button>
              </div>
              <div class="tabs__panel-list" data-tabs="team">
                @@for (var tabs = 0; tabs < 4; tabs++) {
                <div class="tabs__panel">
                  <div class="team-carousel">
                    <div class="swiper team-carousel__swiper">
                      <div class="swiper-wrapper">
                        @@for (var slides = 0; slides < 5; slides++) {
                        <div class="swiper-slide team-carousel-slide">
                          <article class="team-card">
                            <div class="team-card__media">
                              <picture class="team-card__media-pic">
                                <img src="./img/sklh_team/team-01.jpg" alt="" class="team-card__media-img">
                              </picture>
                            </div>
                            <div class="team-card__head">
                              <h3 class="team-card__name">Сергей Иванов `+tabs+`</h3>
                              <p class="team-card__subtitle text-bold">Прораб</p>
                            </div>
                            <div class="team-card__body wysiwyg">
                              <p>
                                <span class="text-bold">Прораб </span> — обучает мастеров. Эта должность относится к руководителям среднего звена.
                              </p>
                              <p>
                                <span class="text-bold">Обязанности: </span> обеспечение выполнения заданий по вводу объектов в эксплуатацию; соблюдение сроков ввода; организация процесса производства работ; учет выполненных работ; руководство бригадой.
                              </p>
                            </div>
                          </article>
                        </div>
                        }
                      </div>
                    </div>
                    <div class="b_swiper__nav team-carousel__nav">
                      <div class="swiper-button-prev team-carousel__button-prev"></div>
                      <div class="swiper-pagination team-carousel__pagination"></div>
                      <div class="swiper-button-next team-carousel__button-next"></div>
                    </div>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </section>

      </main>

      @@include('tpls/sections.sklh/footer.html',{})
    </div>

    @@include('tpls/modals.html', {})

    <script src="./js/index.min.js"></script>
  </body>
</html>
