// Модификаторы
.is-hidden {
  visibility: hidden !important;
  display: none !important;
}

.only-mobile {
  @media (min-width: $mobile-xl + 1) {
    display: none;
  }
}

.is-transparent {
  opacity: 0 !important;
  pointer-events: none !important;
}
