// $laptop-l: 1500px;
// $laptop-m: 1368px;
// $laptop: 1100px;
// $tablet: 992px;
// $tablet-l: 962px;
// $tablet-m: 768px;

// $desktop-l: 1800px;
// $desktop-m: 1500px;
// $desktop-s: 1280px;

// $mobile-xl: 601px;
// $mobile-l: 450px;
// $mobile-m: 390px;
// $mobile-s: 330px;

// $w-burger: $tablet;

$desktop-xlg: 2560px;
$desktop-lg: 1920px;
$desktop-md: 1600px;
$desktop-lgz: 1536px;
$desktop-sm: 1440px;

$laptop-xlg: 1366px;
$laptop-lg: 1280px;
$laptop-md: 1100px;
$laptop-sm: 1024px;

$tablet-xlg: 992px;
$tablet-lg: 810px;
$tablet-md: 768px;

$mobile-xlg: 601px;
$mobile-lg: 414px;
$mobile-md: 412px;
$mobile-sm: 393px;
$mobile-xs: 375px;
$mobile-xxs: 360px;
$mobile-xxx: 320px;

$has-burger: $tablet-xlg;
