// $desktop-lg: 1800px;
// $laptop-md-l: 1500px;
// $desktop-md: 1500px;
// $laptop-xlg: 1368px; ✓
// $laptop-lg: 1280px; ✓
// $laptop-md: 1100px; ✓


// $tablet-xlg: 992px; ✓
// $tablet-lg: 962px; ✓
// $tablet-md: 768px; ✓


// $mobile-xl: 601px; // ✓
// $mobile-l: 450px; // ✓
// $mobile-m: 390px; // ✓
// $mobile-s: 330px; // ✓

// $w-burger: $tablet-xlg;

$desktop-xxlg: 3460px;
$desktop-xlg: 2560px;
$desktop-lg: 1920px;
$desktop-md: 1600px;
$desktop-lgz: 1536px;

$laptop-lg: 1440px;
$laptop-xlg: 1366px;
$laptop-lg: 1280px;
$laptop-md: 1100px;
$laptop-sm: 1024px;

$tablet-xlg: 992px;
$tablet-lg: 810px;
$tablet-md: 768px;

$mobile-xxlg: 601px;
$mobile-xlg: 450px;
$mobile-lg: 414px;
$mobile-md: 412px;
$mobile-sm: 393px;
$mobile-xs: 375px;
$mobile-xxs: 360px;
$mobile-xxx: 320px;

$has-burger: $tablet-xlg;
