// $desktop-lg: 1800px;
// $laptop-md-l: 1500px;
// $desktop-md: 1500px;
// $laptop-xlg: 1368px; ✓
// $laptop-lg: 1280px; ✓
// $laptop-md: 1100px; ✓


// $tablet-xlg: 992px; ✓
// $tablet-lg: 962px; ✓
// $tablet-md: 768px; ✓


// $mobile-xl: 601px; // ✓
// $mobile-l: 450px; // ✓
// $mobile-m: 390px; // ✓
// $mobile-s: 330px; // ✓

// $w-burger: $tablet-xlg;

$desktop-xxlg: 3840px; // 3840×2160
$desktop-xlg: 2560px; // 2560×1440
$desktop-lg: 1920px; // 1920×1000
$desktop-md: 1600px; // 1600×900
$desktop-lgz: 1536px; // 1536×864

$laptop-xxlg: 1440px; // 1440×800
$laptop-xlg: 1366px; // 1366×650
$laptop-lg: 1280px; // 1280×1024
$laptop-md: 1100px; // 1100×768
$laptop-sm: 1024px; // 1024×768

$tablet-xlg: 992px; // 992×601
$tablet-lg: 810px; // 810×1080
$tablet-md: 768px; // 768×1024
$tablet-sm: 720px; // 720×1280

$mobile-xxlg: 601px; // 601×962
$mobile-xlg: 450px; // 450×846
$mobile-lg: 414px; // 414×892
$mobile-md: 412px; // 412×846
$mobile-sm: 393px; // 393×812
$mobile-xs: 375px; // 375×812
$mobile-xxs: 360px; // 360×720
$mobile-xxx: 320px; // 320×700

$has-burger: $tablet-xlg;
