:root {
  // Colors
  --c-primary: #D7BF7F;

  --gradient-gold: linear-gradient(266deg, #C4AD6F 0%, #FFECB8 100%);

  --fg-regular: #fff;
  --fg-on: #1a1a1a;

  // BGs
  --bg-app: #1A1A1A;

  // nomads
  --c-error: #E5042C;
  --c-success: #34C759;
}

