
:root {
  --base-size: 1vw;//#{"calc(1vw + 1vh)"};

  --tr: 0.3s;
  --tr-regular: all var(--tr) ease;

  --p-container: 2rem;


  // Widths
  --w-container: 123rem;
  @media (max-width: $tablet-xlg) {
    --w-container: 100%;
  }


  --z-above-header: 103;
  --z-burger: 102;
  --z-header: 100;
  --z-main: 99;
  --z-footer: 100;

  --tr-jolly-enter: cubic-bezier(0.5, 0, 0.5, 1);
}
