.b_video {
	--play-button-icon: ;
	position: relative;
	overflow: hidden;

	padding-top: 52.4%;
	@supports(aspect-ratio) {
		padding-top: 0;
		aspect-ratio: 16/9;
	}
}

.b_video::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	transition: all 0.45s var(--tr-jolly-enter);
}

.b_video:hover::before {
	@media (any-hover: hover) {
		background-color: transparent;
	}
}

.b_video__cover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	transition: var(--tr);
}
.b_video--playing .b_video__cover {
	opacity: 0;
}


.b_video__cover-pic {
	width: 100%;
	height: 100%;
}
.b_video__cover-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.b_video__media {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: var(--tr);
}
.b_video--playing .b_video__media {
	opacity: 1;
}

.b_video__video {
	width: 100%;
	height: 100%;
	border: none;
}

.b_video__play {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: var(--tr);
	opacity: 0;
}
.b_video--inited .b_video__play {
	opacity: 1;
}

.b_video__play::before {
	content: "";
	--size: 10rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	background-image: url('../img/sklh_common/play.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 0.45s var(--tr-jolly-enter);

	@media (max-width: $tablet) {
		--size: 4rem;
	}
}

.b_video__play:hover::before {
	@media (any-hover: hover) {
		transform: scale(1.1);
	}
}

.b_video--playing.b_video--ready .b_video__play {
}
.b_video--playing.b_video--ready .b_video__play::before {
	opacity: 0;
	transform: scale(1.3);
}

.b_video__player {
	width: 100%;
	height: 100%;
	pointer-events: none;
}
